@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  box-sizing: border-box;
}

.ant-layout {
  height: 100vh !important;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgb(14, 47, 105);
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: rgb(14, 47, 105);
}

.ant-layout-content {
  margin: 0 !important;
  background-color:  #cfe2f3 !important;
  color: #000000 !important;
  overflow-y: auto;
}

.anticon svg {
  font-size: 20px !important;
  color: #000000 !important;
}

.ant-layout-header {
  background-color: #cfe2f3 !important;
  border-bottom: 1px solid rgb(14, 47, 105);
}

.header-text {
  font-family: "Mouse Memoirs", sans-serif;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 500;
  color: rgb(14, 47, 105);
  background-color: #cfe2f3!important;
}

.logo {
  background-color: #cfe2f3 !important;
}

.ant-menu {
  background-color: #cfe2f3 !important;
  color: #000000 !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 1px solid rgb(14, 47, 105) !important;
}

.ant-layout-sider-children {
  background-color: rgb(14, 47, 105) !important;
  border-right: 1px solid rgb(14, 47, 105) !important;
}

.ant-card-body {
  padding: 0 !important;
}

.card-wrapper {
  width: 220px !important;
  height: 250px !important;
  background-color: #cfe2f3;
  border: 1px solid rgb(14, 47, 105) !important;
}

.card-wrapper h1 {
  color: rgb(14, 47, 105);
  text-align: center;
  text-transform: uppercase;
}

.card-wrapper p {
  color: rgb(14, 47, 105);
  padding-left: 5px;
}

.card-wrapper .read-more {
  width: 100% !important;
  background-color: rgb(14, 47, 105) !important;
  border: none !important;
  font-weight: 500;
}

.row {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.ant-input {
  background-color: #fff !important;
  color: #000000;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(14, 47, 105) !important;
  color: #ffffff !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid rgb(14, 47, 105) !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #ffffff;
}

.ant-menu-item a {
  color: #000000 !important;
}

.rows {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
